<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %> <!-- Updated path -->
  </head>
  <body>
    <%- include('../partials/header') %> <!-- Updated path -->
    <%- include('../partials/nav') %> <!-- Updated path -->
    <main>
      <%- body %> <!-- This is where the specific page content will be injected -->
    </main>
    <%- include('../partials/footer') %>  
  </body>
</html>

